.about {
  margin-top: 6.5vw;
  padding: 0 4vw;
  margin-bottom: ;
}

img {
  width: 100%;
}

main {
  h2 {
    font-family: HelveticaNeue;
    font-size: clamp(30px, 4.5vw, 80px);
    color: #ffffff;
    letter-spacing: 1.26px;
    margin-bottom: clamp(35px, 7vw, 100px);
  }
  h3 {
    font-family: HelveticaNeue;
    font-size: clamp(20px, 2vw, 30px);
    color: #ffffff;
    letter-spacing: 0.63px;
    margin-bottom: 30px;
  }

  p {
    font-family: HelveticaNeue;
    font-size: clamp(15px, 1.4vw, 20px);
    color: #ffffff;
    letter-spacing: 0.42px;
  }
}
