.about {
  margin-top: 6.5vw;
  padding: 0 4vw;
  margin-bottom: clamp(45px, 3vw, 178px);
}

img {
  width: 100%;
}

.about {
  font-family: HelveticaNeue;
  color: #ffffff;
  h2 {
    font-size: clamp(30px, 4.5vw, 80px);
    letter-spacing: 1.26px;
    margin-bottom: clamp(35px, 7vw, 100px);
  }
  h3 {
    font-size: clamp(20px, 2vw, 30px);
    letter-spacing: 0.63px;
    margin-bottom: 30px;
  }

  p {
    font-size: clamp(15px, 1.4vw, 20px);
    letter-spacing: 0.42px;
  }
}
