/* ====================================
// Layout grille
// ==================================== */

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

/* ====================================
  // Layout grille
  // ==================================== */

body {
  background-color: black;
}
